button {
    height: 42px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(42, 128, 46);
    color: white;
    border: 1px solid rgb(42, 128, 46);
    border-radius: 4px;
}

input {
    height: 42px;
    padding: 0 16px;
    margin-bottom: 20px;
}

.lk-grid-layout {
    display: flex !important;
    height: 100% !important;
}

.lk-participant-name {
    display: block !important;
}

.lk-participant-metadata-item{
    background-color: white !important;
}

video{
    height: 80vh !important;
}